<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.TestingCenter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.TestingCenter.Views.TestInfoActivity"></activity>
        <activity android:name="com.TestingCenter.Views.PatientHistoryActivity" />
        <activity android:name="com.TestingCenter.Views.PatientEditActivity" />
        <activity
            android:name="com.TestingCenter.Views.PatientAddActivity"
            android:parentActivityName="com.TestingCenter.Views.PatientActivity" />
        <activity android:name="com.TestingCenter.Views.ViewTestInfoActivity" />
        <activity android:name="com.TestingCenter.Views.PatientActivity" />
        <activity android:name="com.TestingCenter.Views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>